@font-face {
    font-family: 'WandohopeR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/WandohopeR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.trip-item{
    font-family: 'ONE-Mobile-POP';
    width:280px;
    height:400px;
    border:1px solid black;
    float:left;
    margin-left:30px;
    margin-top:50px;
    text-align: center;
}
.trip-item img{
    width:280px;
    height:300px;
}
.trip-item h3{
    font-size: 20px;
}