.g-list{
    width:700px;
    height:700px;
    float:left;
}

.g-list img{
    width:700px;
    height:700px;

}
.g-list > ul {
    width:959px;
    height:110px;
    float:left;
    margin-top: 20px;
    /* background-color: gray; */


}
